################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/Calculator/FileContentIndex/6bd89de1-bd7d-4f60-90b3-cd60972e6db0.vsidx
/.vs/Calculator/FileContentIndex
